# Problem Statement:
The used car market in India is a dynamic and ever-changing landscape. Prices can fluctuate wildly based on a variety of factors including the make and model of the car, its mileage, its condition and the current market conditions. As a result, it can be difficult for sellers to accurately price their cars.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('cardekho_dataset.csv')

In [3]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [4]:
df.shape

(15411, 14)

In [5]:
df.drop(columns='Unnamed: 0',axis=1,inplace=True)

In [6]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [7]:
# handling missing values
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [8]:
df.drop(columns=['car_name','brand'],inplace=True,axis=1)

In [9]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [11]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [17]:
cat_feat=[feat for feat in df.columns if df[feat].dtype=='O']
print('cat features',len(cat_feat))
num_feat=[feat for feat in df.columns if df[feat].dtype!='O']
print('num features',len(num_feat))
discrete_feat=[feat for feat in num_feat if len(df[feat].unique())<=25]
print('discrete features',len(discrete_feat))
continuous_feat=[feat for feat in num_feat if feat not in discrete_feat]
print('continuous features',len(continuous_feat))

cat features 4
num features 7
discrete features 2
continuous features 5

In [18]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [19]:
X=df.drop('selling_price',axis=1)
y=df['selling_price']

# feature encoding and scaling

In [20]:
len(df['model'].unique())

120

In [21]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['model']=le.fit_transform(X['model'])

In [22]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [25]:
len(df['seller_type'].unique()), len(df['transmission_type'].unique()),len(df['fuel_type'].unique())

(3, 2, 5)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15411 entries, 0 to 15410
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   model              15411 non-null  object
 1   vehicle_age        15411 non-null  int64
 2   km_driven          15411 non-null  int64
 3   seller_type        15411 non-null  object
 4   fuel_type          15411 non-null  object
 5   transmission_type  15411 non-null  object
 6   mileage            15411 non-null  float64
 7   engine             15411 non-null  int64
 8   max_power          15411 non-null  float64
 9   seats              15411 non-null  int64
 10  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 1.3+ MB

In [29]:
num_feat

['vehicle_age',
 'km_driven',
 'mileage',
 'engine',
 'max_power',
 'seats',
 'selling_price']

In [35]:
# col transformer
num_feat
onehot_col=['seller_type','fuel_type','transmission_type']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeri_transformer=StandardScaler()
cat_tranform=OneHotEncoder(drop='first')

preprocessor=ColumnTransformer(
          
          [('onehot encoder',cat_tranform,onehot_col),
          ('stndscaler',numeri_transformer,num_feat)
          
          ],
          remainder='passthrough'
          
)

In [36]:
X=preprocessor.fit_transform(X)

In [53]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,1.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,0.0,0.0,1.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

# train test split

In [54]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [61]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression,LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
import numpy as np

In [62]:
X_train

array([[ 0.        ,  0.        ,  1.        , ...,  1.75390551,
         2.66249771, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.55087963,
        -0.38602844, -0.40302241],
       [ 0.        ,  0.        ,  1.        , ...,  0.89033072,
         3.27453006, -0.40302241],
       ...,
       [ 1.        ,  0.        ,  0.        , ..., -0.9366097 ,
        -0.78070786, -0.40302241],
       [ 0.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.43582879, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.04616815,
         0.06194201, -0.40302241]])

In [65]:
def eval_model(true, pred):
          mae=mean_absolute_error(true,pred)
          mse=mean_squared_error(true,pred)
          rmse=np.sqrt(mse)
          r2_square=r2_score(true,pred)
          return mae,mse,rmse,r2_square

In [68]:
# model building training
models={
          'lin reg':LinearRegression(),
          'ridge':Ridge(),
          'lasso':Lasso(),
          'KN regressor':KNeighborsRegressor(),
          'decision tree':DecisionTreeClassifier(),
          'rand forest':RandomForestClassifier(),
}
for i in range(len(list(models))):
          model=list(models.values())[i]
          model.fit(X_train,y_train)
          
          ytrain_pred=model.predict(X_train)
          ytest_pred=model.predict(X_test)
          
          mae_train,mse_train,rmse_train,r2_score_train=eval_model(y_train,ytrain_pred)
          mae_test,mse_test,rmse_test,r2_score_test=eval_model(y_test,ytest_pred)
          
          print(list(models.keys())[i])
          print('mae_train :',mae_train,'\nmse_train :',mse_train,'\nrmse_train :',rmse_train,'\nr2_score_train:',r2_score_train)
          print('------------------------------------------------------------------------------------------------')
          print('\nmae_test :',mae_test,'\nmse_test',mse_test,'\nrmse_test :',rmse_test,'\nr2_score_test :',r2_score_test)
          
          print('=================================================================================================')

lin reg
mae_train : 268101.6070829936
mse_train : 306756099359.7596
rmse_train : 553855.6665411663
r2_score_train: 0.6217719576765959
------------------------------------------------------------------------------------------------

mae_test : 279618.5794158427
mse_test 252550062888.56555
rmse_test : 502543.5930230984
r2_score_test : 0.6645109298852006
=================================================================================================
ridge
mae_train : 268059.8014688309
mse_train : 306756818740.9266
rmse_train : 553856.3159709624
r2_score_train: 0.6217710706848425
------------------------------------------------------------------------------------------------

mae_test : 279557.2168930272
mse_test 252540243247.9687
rmse_test : 502533.82298902894
r2_score_test : 0.6645239743566809
=================================================================================================
lasso
mae_train : 268099.22264981153
mse_train : 306756104248.3742
rmse_train : 553855.6709544231
r2_score_train: 0.6217719516489696
------------------------------------------------------------------------------------------------

mae_test : 279614.7461034126
mse_test 252549134806.78134
rmse_test : 502542.66963789385
r2_score_test : 0.6645121627547996
=================================================================================================
KN regressor
mae_train : 91425.47047371836
mse_train : 106193217845.55484
rmse_train : 325873.008771139
r2_score_train: 0.8690645337531115
------------------------------------------------------------------------------------------------

mae_test : 112526.34609146934
mse_test 64021344520.150826
rmse_test : 253024.39510875393
r2_score_test : 0.9149536488136147
=================================================================================================
decision tree
mae_train : 5591.336794289423
mse_train : 903904445.1654769
rmse_train : 30065.003661491162
r2_score_train: 0.9988854923848103
------------------------------------------------------------------------------------------------

mae_test : 144316.93966915342
mse_test 348690374153.6247
rmse_test : 590500.1051258371
r2_score_test : 0.5367975440402175
=================================================================================================
rand forest
mae_train : 5422.128487994809
mse_train : 866948247.8909799
rmse_train : 29443.984918671926
r2_score_train: 0.9989310591076106
------------------------------------------------------------------------------------------------

mae_test : 127747.36457995459
mse_test 312395217082.59
rmse_test : 558923.2658268843
r2_score_test : 0.5850122558330426
=================================================================================================

In [76]:
# hyperparameters
knn_param={'n_neighbors':[2,3,4,10,20,50]}
rf_param={
          'n_estimators':[100,200],
          'max_depth':[3,5,10,None],
          'min_samples_split':[2,8,20],
          'max_features':[5,7,10,'auto']
}

In [77]:
# models list for hyperparameter tuning
randomcv_model=[
          
          ('knn',KNeighborsRegressor(),knn_param),
          ('rf',RandomForestClassifier(),rf_param)
          
]

In [78]:
from sklearn.model_selection import RandomizedSearchCV
model_param={}
for name,model,param in randomcv_model:
          random=RandomizedSearchCV(
                    estimator=model,param_distributions=param,n_iter=100,cv=3,
                    verbose=2,n_jobs=-1
          )
          random.fit(X_train,y_train)
          model_param[name]=random.best_params_
          
for model_name in model_param:
          print(f'-------------best param for {model_name}----------')
          print(model_param[model_name])

d:\anaconda python\Lib\site-packages\sklearn\model_selection\_search.py:320: UserWarning: The total space of parameters 6 is smaller than n_iter=100. Running 6 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 3 folds for each of 6 candidates, totalling 18 fits

d:\anaconda python\Lib\site-packages\sklearn\model_selection\_search.py:320: UserWarning: The total space of parameters 96 is smaller than n_iter=100. Running 96 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(
d:\anaconda python\Lib\site-packages\sklearn\model_selection\_split.py:776: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  warnings.warn(

Fitting 3 folds for each of 96 candidates, totalling 288 fits

d:\anaconda python\Lib\site-packages\sklearn\model_selection\_validation.py:540: FitFailedWarning:
90 fits failed out of a total of 288.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
14 fits failed with the following error:
Traceback (most recent call last):
  File "d:\anaconda python\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\anaconda python\Lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "d:\anaconda python\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "d:\anaconda python\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
58 fits failed with the following error:
Traceback (most recent call last):
  File "d:\anaconda python\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\anaconda python\Lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "d:\anaconda python\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "d:\anaconda python\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "d:\anaconda python\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\anaconda python\Lib\site-packages\sklearn\base.py", line 1473, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\ensemble\_forest.py", line 489, in fit
    trees = Parallel(
            ^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\utils\parallel.py", line 74, in __call__
    return super().__call__(iterable_with_config)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\joblib\parallel.py", line 1918, in __call__
    return output if self.return_generator else list(output)
                                                ^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\joblib\parallel.py", line 1847, in _get_sequential_output
    res = func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\utils\parallel.py", line 136, in __call__
    return self.function(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\ensemble\_forest.py", line 192, in _parallel_build_trees
    tree._fit(
  File "d:\anaconda python\Lib\site-packages\sklearn\tree\_classes.py", line 472, in _fit
    builder.build(self.tree_, X, y, sample_weight, missing_values_in_feature_mask)
  File "_tree.pyx", line 172, in sklearn.tree._tree.DepthFirstTreeBuilder.build
  File "_tree.pyx", line 287, in sklearn.tree._tree.DepthFirstTreeBuilder.build
  File "_tree.pyx", line 942, in sklearn.tree._tree.Tree._add_node
  File "_tree.pyx", line 911, in sklearn.tree._tree.Tree._resize_c
  File "_utils.pyx", line 35, in sklearn.tree._utils.safe_realloc
MemoryError: could not allocate 115867648 bytes

--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "d:\anaconda python\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\anaconda python\Lib\site-packages\sklearn\base.py", line 1473, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\ensemble\_forest.py", line 489, in fit
    trees = Parallel(
            ^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\utils\parallel.py", line 74, in __call__
    return super().__call__(iterable_with_config)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\joblib\parallel.py", line 1918, in __call__
    return output if self.return_generator else list(output)
                                                ^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\joblib\parallel.py", line 1847, in _get_sequential_output
    res = func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\utils\parallel.py", line 136, in __call__
    return self.function(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\ensemble\_forest.py", line 192, in _parallel_build_trees
    tree._fit(
  File "d:\anaconda python\Lib\site-packages\sklearn\tree\_classes.py", line 472, in _fit
    builder.build(self.tree_, X, y, sample_weight, missing_values_in_feature_mask)
  File "_tree.pyx", line 172, in sklearn.tree._tree.DepthFirstTreeBuilder.build
  File "_tree.pyx", line 287, in sklearn.tree._tree.DepthFirstTreeBuilder.build
  File "_tree.pyx", line 942, in sklearn.tree._tree.Tree._add_node
  File "_tree.pyx", line 911, in sklearn.tree._tree.Tree._resize_c
  File "_utils.pyx", line 35, in sklearn.tree._utils.safe_realloc
MemoryError: could not allocate 115212288 bytes

--------------------------------------------------------------------------------
5 fits failed with the following error:
Traceback (most recent call last):
  File "d:\anaconda python\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\anaconda python\Lib\site-packages\sklearn\base.py", line 1473, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\ensemble\_forest.py", line 489, in fit
    trees = Parallel(
            ^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\utils\parallel.py", line 74, in __call__
    return super().__call__(iterable_with_config)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\joblib\parallel.py", line 1918, in __call__
    return output if self.return_generator else list(output)
                                                ^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\joblib\parallel.py", line 1847, in _get_sequential_output
    res = func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\utils\parallel.py", line 136, in __call__
    return self.function(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\ensemble\_forest.py", line 192, in _parallel_build_trees
    tree._fit(
  File "d:\anaconda python\Lib\site-packages\sklearn\tree\_classes.py", line 472, in _fit
    builder.build(self.tree_, X, y, sample_weight, missing_values_in_feature_mask)
  File "_tree.pyx", line 172, in sklearn.tree._tree.DepthFirstTreeBuilder.build
  File "_tree.pyx", line 287, in sklearn.tree._tree.DepthFirstTreeBuilder.build
  File "_tree.pyx", line 942, in sklearn.tree._tree.Tree._add_node
  File "_tree.pyx", line 911, in sklearn.tree._tree.Tree._resize_c
  File "_utils.pyx", line 35, in sklearn.tree._utils.safe_realloc
MemoryError: could not allocate 115343360 bytes

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "d:\anaconda python\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\anaconda python\Lib\site-packages\sklearn\base.py", line 1473, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\ensemble\_forest.py", line 489, in fit
    trees = Parallel(
            ^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\utils\parallel.py", line 74, in __call__
    return super().__call__(iterable_with_config)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\joblib\parallel.py", line 1918, in __call__
    return output if self.return_generator else list(output)
                                                ^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\joblib\parallel.py", line 1847, in _get_sequential_output
    res = func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\utils\parallel.py", line 136, in __call__
    return self.function(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\ensemble\_forest.py", line 192, in _parallel_build_trees
    tree._fit(
  File "d:\anaconda python\Lib\site-packages\sklearn\tree\_classes.py", line 472, in _fit
    builder.build(self.tree_, X, y, sample_weight, missing_values_in_feature_mask)
  File "_tree.pyx", line 172, in sklearn.tree._tree.DepthFirstTreeBuilder.build
  File "_tree.pyx", line 287, in sklearn.tree._tree.DepthFirstTreeBuilder.build
  File "_tree.pyx", line 942, in sklearn.tree._tree.Tree._add_node
  File "_tree.pyx", line 911, in sklearn.tree._tree.Tree._resize_c
  File "_utils.pyx", line 35, in sklearn.tree._utils.safe_realloc
MemoryError: could not allocate 28803072 bytes

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "d:\anaconda python\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\anaconda python\Lib\site-packages\sklearn\base.py", line 1473, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\ensemble\_forest.py", line 489, in fit
    trees = Parallel(
            ^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\utils\parallel.py", line 74, in __call__
    return super().__call__(iterable_with_config)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\joblib\parallel.py", line 1918, in __call__
    return output if self.return_generator else list(output)
                                                ^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\joblib\parallel.py", line 1847, in _get_sequential_output
    res = func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\utils\parallel.py", line 136, in __call__
    return self.function(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\ensemble\_forest.py", line 192, in _parallel_build_trees
    tree._fit(
  File "d:\anaconda python\Lib\site-packages\sklearn\tree\_classes.py", line 472, in _fit
    builder.build(self.tree_, X, y, sample_weight, missing_values_in_feature_mask)
  File "_tree.pyx", line 172, in sklearn.tree._tree.DepthFirstTreeBuilder.build
  File "_tree.pyx", line 287, in sklearn.tree._tree.DepthFirstTreeBuilder.build
  File "_tree.pyx", line 942, in sklearn.tree._tree.Tree._add_node
  File "_tree.pyx", line 911, in sklearn.tree._tree.Tree._resize_c
  File "_utils.pyx", line 35, in sklearn.tree._utils.safe_realloc
MemoryError: could not allocate 14417920 bytes

--------------------------------------------------------------------------------
1 fits failed with the following error:
Traceback (most recent call last):
  File "d:\anaconda python\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "d:\anaconda python\Lib\site-packages\sklearn\base.py", line 1473, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\ensemble\_forest.py", line 489, in fit
    trees = Parallel(
            ^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\utils\parallel.py", line 74, in __call__
    return super().__call__(iterable_with_config)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\joblib\parallel.py", line 1918, in __call__
    return output if self.return_generator else list(output)
                                                ^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\joblib\parallel.py", line 1847, in _get_sequential_output
    res = func(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\utils\parallel.py", line 136, in __call__
    return self.function(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "d:\anaconda python\Lib\site-packages\sklearn\ensemble\_forest.py", line 192, in _parallel_build_trees
    tree._fit(
  File "d:\anaconda python\Lib\site-packages\sklearn\tree\_classes.py", line 472, in _fit
    builder.build(self.tree_, X, y, sample_weight, missing_values_in_feature_mask)
  File "_tree.pyx", line 172, in sklearn.tree._tree.DepthFirstTreeBuilder.build
  File "_tree.pyx", line 287, in sklearn.tree._tree.DepthFirstTreeBuilder.build
  File "_tree.pyx", line 942, in sklearn.tree._tree.Tree._add_node
  File "_tree.pyx", line 911, in sklearn.tree._tree.Tree._resize_c
  File "_utils.pyx", line 35, in sklearn.tree._utils.safe_realloc
MemoryError: could not allocate 57933824 bytes

  warnings.warn(some_fits_failed_message, FitFailedWarning)
d:\anaconda python\Lib\site-packages\sklearn\model_selection\_search.py:1102: UserWarning: One or more of the test scores are non-finite: [0.04226179 0.04404625 0.04258618 0.04242392 0.04331613 0.04291063
 0.04485744 0.04396509 0.04307276 0.04364058 0.04445173 0.0437217
 0.04396505 0.04347831 0.04364062 0.04339713 0.0448575  0.04412714
        nan        nan        nan        nan        nan        nan
 0.055078   0.05588911 0.05483461 0.05532135 0.05337452 0.05564586
 0.05556471 0.05459146 0.0545102  0.05426681 0.05451022 0.05442902
 0.05613236 0.05483463 0.05434797 0.05483473 0.05507786 0.05467262
        nan        nan        nan        nan        nan        nan
 0.0648932  0.0662722  0.06602872 0.06651534 0.06643437 0.06659654
 0.06651543 0.06635339 0.06635327 0.06659658 0.06586669 0.06570439
 0.06562324 0.06570439 0.06594763 0.06635319 0.06489316 0.06821927
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan 0.06619106 0.06756995
        nan        nan 0.05848509 0.05962065 0.06619098 0.06797559
        nan        nan 0.06067515 0.0605129  0.06789428 0.06756991
        nan        nan        nan        nan        nan        nan]
  warnings.warn(

-------------best param for knn----------
{'n_neighbors': 4}
-------------best param for rf----------
{'n_estimators': 200, 'min_samples_split': 20, 'max_features': 10, 'max_depth': 10}

In [79]:
# making the model with best param
models={
          'rand forest ':RandomForestClassifier(n_estimators= 200, min_samples_split= 20, max_features= 10, n_jobs=-1),
          'kneareast':KNeighborsRegressor(n_neighbors=4,n_jobs=-1)
}
for i in range(len(list(models))):
          model=list(models.values())[i]
          model.fit(X_train,y_train)
          
          ytrain_pred=model.predict(X_train)
          ytest_pred=model.predict(X_test)
          
          mae_train,mse_train,rmse_train,r2_score_train=eval_model(y_train,ytrain_pred)
          mae_test,mse_test,rmse_test,r2_score_test=eval_model(y_test,ytest_pred)
          
          print(list(models.keys())[i])
          print('mae_train :',mae_train,'\nmse_train :',mse_train,'\nrmse_train :',rmse_train,'\nr2_score_train:',r2_score_train)
          print('------------------------------------------------------------------------------------------------')
          print('\nmae_test :',mae_test,'\nmse_test',mse_test,'\nrmse_test :',rmse_test,'\nr2_score_test :',r2_score_test)
          
          print('=================================================================================================')

rand forest
mae_train : 47262.89746917586
mse_train : 15116819678.780012
rmse_train : 122950.47652929212
r2_score_train: 0.9813610711402503
------------------------------------------------------------------------------------------------

mae_test : 120710.30651962374
mse_test 83078601772.8268
rmse_test : 288233.58890460146
r2_score_test : 0.8896378700665716
=================================================================================================
kneareast
mae_train : 86364.69824789098
mse_train : 90413047655.74303
rmse_train : 300687.62471332774
r2_score_train: 0.888521368974578
------------------------------------------------------------------------------------------------

mae_test : 111097.42945183264
mse_test 65598764357.97113
rmse_test : 256122.5573001549
r2_score_test : 0.9128581945162841
=================================================================================================